# In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals

In [1]:
#!pip install pymysql
#!pip install sqlalchemy

In [2]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report, f1_score, cohen_kappa_score

import getpass  # To get the password without showing the input

In [3]:
password = getpass.getpass()

········

In [31]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

# 1. How many distinct (different) actors' last names are there?

In [32]:
data = pd.read_sql_query('select count(distinct last_name) as Nb_last_name from sakila.actor', engine)
data.head()

   Nb_last_name
0           121

# 2. Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.

In [70]:
query = '''select 
*, 
date_format(convert(rental_date, date), "%M) as month,
date_format(convert(rental_date, date), "%W") as Weekday,
case
when date_format(convert(rental_date, date), "%W") = 'Saturday' then 'weekend'
when date_format(convert(rental_date, date), "%W") = 'Sunday' then 'weekend'
else 'Workday'
end as Day
from rental;'''
data = pd.read_sql_query(query, engine)
data.head()

OperationalError: (pymysql.err.OperationalError) (1582, "Incorrect parameter count in the call to native function 'date_format'")
[SQL: select
*,
date_format(convert(rental_date, date)) as month,
date_format(convert(rental_date, date), "W") as Weekday,
case
when date_format(convert(rental_date, date), "W") = 'Saturday' then 'weekend'
when date_format(convert(rental_date, date), "W") = 'Sunday' then 'weekend'
else 'Workday'
end as Day
from rental;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# 3. Get all films with ARMAGEDDON in the title.

In [56]:
query = '''select title from film 
where title regexp 'ARMAGEDDON$' or title regexp '^ARMAGEDDON'
limit 100;'''
data = pd.read_sql_query(query, engine)
data.head()

                   title
0        ARMAGEDDON LOST
1    LADYBUGS ARMAGEDDON
2       METAL ARMAGEDDON
3    MOSQUITO ARMAGEDDON
4  STAGECOACH ARMAGEDDON

# 4. Get 10 the longest films.

In [43]:
query = '''select title, length from film
order by length desc
limit 10;'''
data = pd.read_sql_query(query, engine)
data.head

            title  length
0  DARN FORRESTER     185
1    POND SEATTLE     185
2   CHICAGO NORTH     185
3   MUSCLE BRIGHT     185
4    WORST BANGER     185

# 5. How many films include Behind the Scenes content?

In [58]:
query = '''select count(special_features regexp 'Behind the Scenes$') from film;'''
data = pd.read_sql_query(query, engine)
data.head()

   count(special_features regexp 'Behind the Scenes$')
0                                               1000

# 6.  Which kind of movies (rating) have a mean duration of more than two hours?

In [59]:
query = '''select rating, round(avg(length), 2) as Avg_length from film
group by rating
having Avg_length > 120;'''
data = pd.read_sql_query(query, engine)
data.head()

  rating  Avg_length
0  PG-13      120.44

# 7.  Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.

In [60]:
query = '''select title, length, rank()over(order by length desc) as rank_length   from film
order by length desc;'''
data = pd.read_sql_query(query, engine)
data.head()

            title  length  rank_length
0   CHICAGO NORTH     185            1
1  CONTROL ANTHEM     185            1
2  DARN FORRESTER     185            1
3     GANGS PRIDE     185            1
4       HOME PITY     185            1